<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # N'applique pas la règle aux fichiers ou dossiers existants
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Redirige toutes les requêtes vers index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>
